@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

@layer components {
  div::-webkit-scrollbar {
    @apply w-2
    bg-slate-300
    dark:bg-slate-600;
  }

  div::-webkit-scrollbar-thumb {
    @apply bg-slate-400
    dark:bg-slate-500 
    rounded;
  }
}

.chalkBackground {
  background-image: url(../public/blackboard.jpg);
}
/* 
text{
  black
  white
  slate-300
}

placeholder:dark:text-slate-400

blue {
  #acacff
  #5555ce
  slate-400 (buttons)
}

yellow{
  #ffd025 (buttons)
}

light gray{
  #dddddd
  #bbbbbb
}

light slate{
  slate-300
  slate-400
  slate-500
  slate-600
}

dark slate{
  slate-900
  slate-800
  #2e3c50
  slate-700
}

main button color{
  bg-[#acacff]
  hover:bg-[#5555ce]
  dark:bg-slate-600
  hover:dark:bg-[#ffd025]
  text-black
  hover:text-white
  dark:text-white
  hover:dark:text-black
  transition-all
  duration-100
}
*/
