@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

@layer components {
  div::-webkit-scrollbar {
    @apply w-2
    bg-slate-300
    dark:bg-slate-600;
  }

  div::-webkit-scrollbar-thumb {
    @apply bg-slate-400
    dark:bg-slate-500 
    rounded;
  }

  .btn-base-color {
    @apply bg-[#95abca]
    hover:bg-[#4e6ec7]
    dark:bg-slate-600
    hover:dark:bg-[#ffd025]
    text-black
    hover:text-white
    dark:text-white
    hover:dark:text-black
    transition-all
    duration-100 !important;
  }
}

.chalkBackground {
  background-image: url(../public/blackboard.jpg);
}

/* 
page:
  bg-white
  dark:bg-slate-900
  divide-slate-400
  dark:divide-slate-600

text
  title: text-slate-600 dark:text-white
  text:  text-black dark:text-white

sidebar:
  light: bg-[#8ca1be]
  dark:  bg-slate-800

group:
  light: bg-[#d8e3f1]
  dark:  bg-[#1e2a3f]

exercise:
  light: bg-[#bdcee6]
  dark:  bg-slate-700

button:
  light: bg-[#95abca]
  dark:  bg-slate-600

border/divide:
  exercises:
    light: border-slate-500
    dark:  border-slate-600
  groups/pages:
    light: border-slate-400
    dark:  border-slate-600
  sidebar:
    light: border-slate-300
    dark:  border-slate-600
  searchbar:
    light: border-slate-400
    dark:  border-slate-700
  dropdown:
    light: border-slate-300
    dark:  border-slate-700
*/
