@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

@layer components {
  div::-webkit-scrollbar {
    @apply w-2
    bg-gray-300
    dark:bg-gray-600;
  }

  div::-webkit-scrollbar-thumb {
    @apply bg-gray-400
    dark:bg-gray-500 
    rounded;
  }
}

.chalkBackground {
  background-image: url(../public/blackboard.jpg);
}
