
.form_sex_register{
    margin-bottom: 5px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_sex_buttons_register{
    display: flex;
    gap: 10px;
    height: 32px;
    width: 120px;
    justify-content: space-between;
}

.input_register{
    margin-top: 5px;
    margin-bottom: 10px;
}




.form_title_register{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_title_image_register{
    transform: translate();
    height: 150px;
    margin-bottom: 10px;
}

.form_title_desc_register{
    display: flex;
    width: 100%;
    padding: 0px 0px 15px 0px;
    font-size: xx-large;
    font-weight: bold;
}