@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply flex
    items-center
    justify-center;
  }

  .size-6 {
    @apply w-6
    h-6;
  }

  .size-4 {
    @apply w-4
    h-4;
  }

  .sidebar-icon {
    @apply flex-shrink-0
    text-gray-400
    transition
    duration-75
    group-hover:text-gray-900
    dark:text-gray-400
    dark:group-hover:text-white;
  }

  .white-icon {
    @apply text-white;
  }
}
