@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .searchbar-input {
    @apply block
    outline-none
    py-2.5
    px-4
    rounded-r-lg
    w-full
    z-20
    text-black
    border-l-0
    border
    border-gray-300
    dark:bg-gray-700
    dark:border-gray-600
    dark:placeholder-gray-400
    dark:text-white;
  }
}
