@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown:hover .dropdown-content {
  display: grid;
}
