@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown {
    @apply flex-shrink-0
    flex
    items-center
    justify-between
    gap-2
    min-w-fit
    w-40
    h-full
    px-4
    font-medium
    border
    rounded-l-lg
    focus:outline-none
    text-gray-900
    border-gray-300
    dark:text-white
    dark:border-gray-600;
  }
}
