@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply flex
    flex-shrink-0
    items-center
    justify-center;
  }

  .size-12 {
    @apply w-12
    h-12;
  }

  .size-10 {
    @apply w-10
    h-10;
  }

  .size-8 {
    @apply w-8
    h-8;
  }

  .size-6 {
    @apply w-6
    h-6;
  }

  .size-5 {
    @apply w-5
    h-5;
  }

  .size-4 {
    @apply w-4
    h-4;
  }

  .group-slate-icon {
    @apply text-slate-600
    transition-all
    group-hover:text-black
    hover:text-black
    dark:text-slate-400
    dark:group-hover:text-white;
  }

  .slate-icon {
    @apply text-slate-500
    transition-all
    hover:text-black
    dark:text-slate-400
    dark:hover:text-white;
  }

  .ex-icon {
    @apply text-slate-600
    transition-all
    dark:text-slate-400
    hover:text-black
    hover:dark:text-white;
  }

  .black-icon {
    @apply text-black
    dark:text-white;
  }

  .inherit-icon {
    @apply text-inherit;
  }
}
