@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .sidenav{
        @apply
        inline-flex
        items-center
        p-3
        w-fit
        text-sm
        text-gray-500
        rounded-lg
        hover:bg-gray-100
        focus:outline-none
        focus:ring-2
        focus:ring-gray-200
        dark:text-gray-400
        dark:hover:bg-gray-700
        dark:focus:ring-gray-600
    }
    
    .sidenav-background{
        @apply
        w-64
        h-screen
    }
    
    .sidenav-content{
        @apply
        overflow-y-auto
        py-5
        px-3
        h-full
        bg-white
        border-r
        border-gray-200
        dark:bg-gray-800
        dark:border-gray-700
    }

    .sidenav-divisions{
        @apply
        pt-5
        mt-5
        space-y-2
        border-t
        border-gray-200
        dark:border-gray-700
    }
    .sidenav-item{
        @apply
        flex
        items-center
        p-2
        w-full 
        text-left
        gap-3
        font-normal
        text-gray-900
        rounded-lg
        transition
        duration-75
        hover:bg-gray-100
        dark:hover:bg-gray-700
        dark:text-white
        dark:bg-gray-800
    }
    
    .sidenav-dropdown{
        @apply
        p-2
        pl-7
        space-y-2
    }
    .sidenav-dropdown-item{
        @apply
        flex-1
        text-left
    }
}