@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .size-icon{
        @apply
        w-6
        h-6
    }
    
    .sidebar-icon{
        @apply
        flex-shrink-0
        text-gray-400
        transition
        duration-75
        group-hover:text-gray-900
        dark:text-gray-400
        dark:group-hover:text-white
    }
}